.App {
  text-align: center;
}
 
#btn-consultar {
  padding-top: 10px;
}

.container{
  padding-top: 15px;
  border: 1px solid blue;
  width: 550x;
}

#nome, #cep {
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 5px;
}


#nome{
  width: 500px;
}

#cep {
  width: 200px;
}
